body {
	font-family:Verdana;
	font-size:11px;	
	background-repeat:repeat-x;
	margin:0px;
	padding:0px;
}

.newtable td
{
	padding: 6px;	
}

h1 {
	color:black;
	margin-top:0px;
	margin-bottom:0px;
}

h3 {
	color:black;
	font-family:Verdana;
	margin-top:0px;
	padding:0px;
	font-size:14px;
	margin-bottom:2px;
}

a {
	text-decoration: none;
	color: #6797BB;
	font-weight: bold;
}

.roundedBorderBox
{
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	background-color: #FBFBFB;
	border: 1px solid #CDCDCD;
	padding: 5px;
	margin-top: 10px;
	
}

.roundBoxLeft
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	background-color: #FBFBFB;
	border: 1px solid #CDCDCD;
	padding: 5px;
	width: 49%;
	float: left;
	margin: 10px 0 10px 0;
}

.roundBoxRight
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	background-color: #FBFBFB;
	border: 1px solid #CDCDCD;
	padding: 5px;
	width: 49%;
	float: right;
	margin: 10px 0 10px 0;
}

/*Hacks*/
h3 a
{
	font-size:11px;
	font-family: Verdana;
	font-weight: normal;
}

input {
	border:1px solid #CCC;
	font-size:11px;
	padding:3px;
}
input:focus {
	background-color:#ffffdd;
}

button {
    border: 1px solid #999999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 4px;
}

img {
	border:none;
}

.projectCont {
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
}

.projectHead {
	float: left;
	background: #ccc;
	font-weight: bold;
	width: 180px;
	height: 20px;
	padding-left: 5px;
	padding-bottom: 2px;
	border: 1px solid grey;
}

.projectData {
	float: left;
	background: #eee;
	color: #333;
	width: 600px;
	margin-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 20px;
}

.previewFrame {
	width: 800px;
	height: 600px;
	overflow: hidden;
	scrollbar-face-color: #000000;
    scrollbar-highlight-color: #000000;
    scrollbar-shadow-color: #000000;
    scrollbar-3dlight-color: #000000;
    scrollbar-arrow-color: #000000;
    scrollbar-track-color: #000000;
    scrollbar-darkshadow-color: #000000;
		
}

.previewDiv {
	width: 420px;
	height: 155px;
	overflow: hidden;	
	scrollbar-face-color: #000000;
    scrollbar-highlight-color: #000000;
    scrollbar-shadow-color: #000000;
    scrollbar-3dlight-color: #000000;
    scrollbar-arrow-color: #000000;
    scrollbar-track-color: #000000;
    scrollbar-darkshadow-color: #000000;
	
}

#previewHeading {
	font-weight: bold;
	margin-left: 2px;	
}

#loggedin {
	padding-top: 2px;
	padding-bottom: 2px;
	float: right;	
}

.phaseNav {
	clear: both;
	margin-top: 5px;
	margin-bottom: 7px;	
	width: 100%;
	background: #eee;
	height: 32px;
}

.currentStage {
	background-image:url('../images/phases/arrow_32_high_blue.png');
	background-repeat:no-repeat;
	background-position:left center;
	float: left;
	
	height: 32px;
	font-weight: bold;
	font-size: 8pt;
	color: #cc0000;
	
	width: 90px;
	margin-left: 5px;
	margin-right: 5px;
}

.nextStage {
	background-image:url('../images/phases/arrow_32_high_blue_faded.png');
	background-repeat:no-repeat;
	background-position:left center;
	float: left;
	width: 90px;
	margin-left: 5px;
	margin-right: 5px;
	height: 32px;
		
}

.finalStage {
	background-image:url('../images/phases/arrow_32_blurred.png');
	background-repeat:no-repeat;
	background-position:left center;
	float: left;
	width: 90px;
	margin-left: 5px;
	margin-right: 5px;
	height: 32px;
		
}

.finalStageComplete {
	background-image:url('../images/phases/arrow_32_high.png');
	background-repeat:no-repeat;
	background-position:left center;
	float: left;
	width: 90px;
	margin-left: 5px;
	margin-right: 5px;
	height: 32px;
		
}

.projInfoText {
	color: #333;
	font-weight: bold;
	float: left;
	margin-top: 8px;
	padding: 2px;
	
	border: 1px solid #ccc;
		
}

.infoLabel {
	border-top:1px solid #156bc3;
	border-bottom:1px solid #156bc3;
	margin-bottom:5px;
	padding: 14px 0;
	width: 100%;
	background-color:#f4f4f4;
	background-image:url('../images/header/icon-24-info.png');
	background-repeat:no-repeat;
	background-position:left center;
	text-indent: 45px;		
}


.helpLabel {
	border-top:1px solid #156bc3;
	border-bottom:1px solid #156bc3;
	padding-top:14px;
	padding-bottom:14px;
	padding-left:45px;
	padding-right:5px;
	margin-bottom:5px;
	width: 75%;
	background-color:#f4f4f4;
	background-image:url('../images/header/icon-24-help.png');
	background-repeat:no-repeat;
	background-position:left center;	
	float: left;
	clear: both;	
}

.error {
	border-top:2px solid #cc0000;
	border-bottom:2px solid #cc0000;
	padding-top:14px;
	padding-bottom:14px;
	padding-left:45px;
	padding-right:5px;
	margin-bottom:5px;
	background-color:#f4f4f4;
	background-image:url('../images/ticks/cross.png');
	background-repeat:no-repeat;
	background-position:left center;	
	float: left;
	clear: both;
	color: #cc0000;
}

.success {
	border-top:2px solid #008800;
	border-bottom:2px solid #008800;
	padding-top:14px;
	padding-bottom:14px;
	padding-left:45px;
	padding-right:5px;
	margin-bottom:5px;
	background-color:#f4f4f4;
	background-image:url('../images/ticks/tick.png');
	background-repeat:no-repeat;
	background-position:left center;	
	float: left;
	clear: both;
	color: #008800;
}

.errorText {
	color: #cc0000;
}

.red {
	color: #cc0000;
}

.smallcontent {
	height: 150px;
	overflow: auto;	
	border: 1px solid #ccc;
	padding: 2px;
	background: #eee;	
}

.settings {
	margin-top: 5px;
	margin-bottom: 5px;	
}

.urlstatus {
	padding-top: 5px;	
}

.mainbox {
	font-size:11px;
	color:#000;
	position:relative; 
	width:47%; 
	height:120px; 
	float:left; 
	margin-bottom:15px; 
	padding:10px; 
	background-color:#f5f5f5; 
	border:1px solid #cdcdcd;
	margin-right: 2px;
}

.tinybox {
	font-size:11px;
	color:#000;
	position:relative; 
	width:47%; 
	min-height: 20px;
	height:auto; 
	float:left; 
	margin-bottom:15px; 
	padding:10px; 
	background-color:#f5f5f5; 
	border:1px solid #cdcdcd;
	margin-right: 2px;
	background: #fff;
}

.bigbox {
	font-size:11px;
	color:#000;
	position:relative; 
	width:97%; 
	min-height: 20px;
	height:auto; 
	float:left; 
	margin-bottom:15px; 
	padding:10px; 
	background-color:#f5f5f5; 
	border:1px solid #cdcdcd;
	margin-right: 2px;
	background: #fff;
}


.smallbox {
	font-size:11px;
	color:#000;
	position:relative; 
	width:47%; 
	min-height: 50px;
	height:auto; 
	float:left; 
	margin-bottom:15px; 
	padding:10px; 
	background-color:#f5f5f5; 
	border:1px solid #cdcdcd;
	margin-right: 2px;
	background: #fff;
}

.medbox {
	font-size:11px;
	color:#000;
	position:relative; 
	width:47%; 
	min-height: 170px;
	height:auto; 
	float:left; 
	margin-bottom:15px; 
	padding:10px; 
	background-color:#f5f5f5; 
	border:1px solid #cdcdcd;
	margin-right: 2px;
	background: #fff;
}

.instructionWrapper {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #CDCDCD;
	background-color:#F6F6F6;
	margin-bottom:10px;
	width:50%;
}

.clear {
	height:0px; 
	overflow:hidden; 
	clear:both;
}

.left {
	float: left;	
}

.left-main {
	float: left;	
}

.leftPad {
	float: left;
	padding-left: 5px;	
}

.systemMsg {
	border-top:2px solid #156bc3;
	border-bottom:2px solid #156bc3;
	padding-top:14px;
	padding-bottom:14px;
	padding-left:45px;
	padding-right:5px;
	margin-bottom:10px;
	font-weight:bold;
	font-size:11px;
	background-color:#f4f4f4;
	background-image:url('../images/blue32.png');
	background-repeat:no-repeat;
	background-position:left center;
}


.smallBase {
	position:absolute;
	left:50%;
	top:50%;
	border:1px solid #b0b0b0;
	width:350px;
	height:200px;
	margin-left:-175px;
	margin-top:-100px;
	background-color:#FFF;
	text-align:center;
	color:#818181;
}
.bigBase {
	position:absolute;
	left:50%;
	width:950px;
	height:600px;
	margin-left:-450px;
	margin-top:20px;
	text-align:left;
	color:#333;
}


#container {
	border: 1px solid #CCC;
	width:800px;
	height:600px;
	text-align:left;
	background-color:#fff;
}
#banner {
	height:100px;
	text-align:center;
}
#menu {
	padding:5px;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	font-size:11px;
}
#main {
	position:relative;
}




.logout {
	padding:5px;
	padding-left:15px;
	padding-right:15px;
	display:bigblock;
	text-decoration:none;
	font-weight:bold;
	font-size:12px;
	color:#000;
	border-left:0px solid #d4d4d4;
	float:right;
	margin-top:50px;
}
.banner {
	height:78px;
	width:952px;
	background-image:url('../images/header.jpg');
	margin-bottom:20px;
}
.bannerLeft {
	height:54px;
	width:167px;
	background-image:url('../images/j_header_left.png');
	float:left;
}
.bannerRight {
	height:54px;
	width:11px;
	background-image:url('../images/j_header_right.png');
	float:right;
}
.footer {
	height:11px;
	width:100%;
	background-image:url('../images/j_bottom.png');
}
.footerLeft {
	height:11px;
	width:11px;
	background-image:url('../images/j_corner_bl.png');
	float:left;
}
.footerRight {
	height:11px;
	width:11px;
	background-image:url('../images/j_corner_br.png');
	float:right;
}
.menu {
	border-left:0px solid #cdcdcd;
	border-right:0px solid #cdcdcd;
	border-top:0px solid #cdcdcd;
	border-bottom:0px solid #cdcdcd;
	background-color:#FFF;
	text-align:left;
}
.main {
	/*position:absolute;
	top:155px;
	left:8px;*/
	background-color:#FFF;
	padding:10px;
	border-top:1px solid #cdcdcd;
	border-left:1px solid #cdcdcd;
	border-right:1px solid #cdcdcd;
	border-bottom:1px solid #CDCDCD;
	min-height: 700px;
}
.button {
	text-align:center;
	display:bigblock;
	text-decoration:none;
	font-weight:normal;
	font-size:12px;
	color:#333;
	/*border-left:1px solid #d4d4d4;*/
	float:left;
	background-image:url('../images/blueTab99.jpg');
	width:99px;
	height:17px;
	padding-top: 2px;
	margin-right:5px;
	color:#fff;
	margin-top:7px;
}
.buttonSelected {
	/*padding:5px;
	padding-left:15px;
	padding-right:15px;*/
	text-align:center;
	display:bigblock;
	text-decoration:none;
	font-weight:normal;
	font-size:12px;
	color:#333;
	/*border-left:1px solid #d4d4d4;*/
	float:left;
	background-image:url('../images/selectedTab99.jpg');
	width:99px;
	height:17px;
	padding-top: 2px;
	margin-right:5px;
	color:#6797BB;
	margin-top:7px;
}


textarea {
	border:1px solid #cdcdcd;
	font-family:Helvetica,Arial, sans-serif;
}

/*Details Box*/
.detailsBox {
	border:1px solid #cdcdcd;
	padding:8px;
	width:270px;
	height:395px;
	float:right;
	background-color:#f6f6f6;
	/*margin-top:13.5px;*/
	margin-top:0px;
	color:#0b55c4;
}

.detailsBox input {
	width:263px;
	margin-bottom:10px;
}
.detailsBox textarea {
	margin-bottom:10px;
	width:265px;
	height:100px;
	font-size:11px;
	padding:2px;
}
textarea {
	border:1px solid #CCC;
	font-size:11px;
	padding:3px;
}
textarea:focus {
	background-color:#ffffdd;
}
/*textarea:hover {
	background-color:#ffffdd;
}*/
.detailsBox strong {
	margin-bottom:5px;
}
.detailsBox span {
	margin-bottom:5px;
	color:#000;
	display:bigblock;
}
.detailsBox h1 {
	margin-bottom:5px;
	color:#000;
	display:bigblock;
	font-size:14px;
}

/*Web Page Icon*/
.webIcon {
	background-image:url('../images/home.png');
	background-repeat:no-repeat;
	height:48px;
	margin-right:10px;
	float:left;
	color:#0b55c4;
	padding-left:52px;
	font-size:20px;
	font-weight:bold;
}
.webIcon div { margin-top:10px;}
.webIcon div strong { font-size:14px; }

.homeIcon {
	
	background-image:url('../images/resizedLogo.jpg');
	background-repeat:no-repeat;
	padding-left:252px;
	
	width:400px;
	height:48px;
	margin-right:0px;
	float:left;
	color:black;
	padding-left:10px;
	font-size:20px;
	font-weight:bold;
}
.homeIcon div { margin-top:10px; margin-left: 110px;}
.homeIcon div strong { font-size:14px; }

/*Home Thumbs*/
.ThumbLink {
	float:left; 
	margin-right:20px; 
	text-align:center; 
	width:68px;
	color:#6797BB;
	/*padding-left:52px;*/
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	margin-top:5px;
	overflow:hidden;
	border:0px solid #000;
}
.ThumbLink:hover, .ThumbLink div:hover { color:#333; }
.homeThumbLink {
	float:left; 
	margin-right:20px; 
	text-align:center; 
	width:68px;
	color:#818181;
	/*padding-left:52px;*/
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	margin-top:5px;
}
.homeThumbLink :hover { color:#333; }
.homeThumb {
	background-image: url("../images/webpage.png");
    background-repeat: no-repeat;
	background-position: center top;
	padding-top: 48px;
}
.homeThumb div { margin-top:0px;}

/*Add Thumb Link*/
.addThumbLink {
	float:left; 
	margin-right:20px; 
	text-align:center; 
	width:68px;
	color:#333;
	/*padding-left:52px;*/
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	margin-top:5px;
}
.addThumbLink :hover { color:#333; }
.addThumb {
	background-image:url('../images/add_page.png');
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 48px;
}
.addThumb div { margin-top:0px;}



/*Contact Settings Thumb Link*/
.settingsThumbLink {
	float:left; 
	margin-right:20px; 
	text-align:center; 
	width:68px;
	color:#333;
	/*padding-left:52px;*/
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	margin-top:5px;
}
.settingsThumbLink :hover { color:#333; }
.settingsThumb {
	background-image:url('../images/settings.png');
	background-repeat:no-repeat;
	width:48px;
	height:48px;
}
.settingsThumb div { margin-top:0px;}


/*HeaderText*/
.headerText {
	color:#0b55c4;
	margin-top:0px;
	margin-bottom:0px;
	font-size:16px;
	font-weight:bold;
	float:left;
	display:bigblock;
}

/*Editor hack*/
.button2-left { 
	float: left; 
	margin-left: -6px; 
	height:22px;
	position:relative;
	margin-top:4px;
}
.button2-left div.blank { 
	background: url(../images/j_button2_right_cap.png) no-repeat; 
	position:relative;
	left:100%; 
	top:10px;
	height:22px;
}
.button2-left div.blank a {
	display:bigblock;
	float:left;
	position:relative;
	left:-100%;
	text-decoration:none;
	margin-left: 7px;
	padding-top:3px;
	padding-left:7px;
	color:#333;
	height:22px;
	background: url(../images/j_button2_left.png) no-repeat; 
} 




/*Round Box*/
.round-box {
	position:relative;
	background-color:#fbfbfb;
	
}

.round-box-main {
	border-left:1px solid #cdcdcd;
	border-right:1px solid #cdcdcd;
	padding:5px;
	z-index:2;
}

.round-box-main-project {
	border-left:1px solid #cdcdcd;
	border-right:1px solid #cdcdcd;
	padding:5px;
	z-index:2;
	min-height: 200px;
}

.round-box-main-longer {
	border-left:1px solid #cdcdcd;
	border-right:1px solid #cdcdcd;
	padding:5px;
	z-index:2;
	min-height: 150px;
}

.round-box-main-preview {
	border-left:1px solid #cdcdcd;
	border-right:1px solid #cdcdcd;
	padding:5px;
	z-index:2;
	min-height: 310px;
}

.round-box-head {
    border-top: 1px solid #CDCDCD;
    height: 0px;
    margin-bottom: -1px;
    width: 100%;
    z-index: 2;
}

.round-box-head-left {
	position:absolute;
	margin-top:-1px;
	height:6px;
	width:6px;
	height:6px;
	width:6px;
	background-image:url('../images/j_crn_tl_light.png');
	z-index:3;
}
.round-box-head-right {
	position:absolute;
	left:100%;
	margin-left:-6px;
	margin-top:-1px;
	height:6px;
	width:6px;
	background-image:url('../images/j_crn_tr_light.png');
	z-index:3;
}

.round-box-foot {
    border-bottom: 1px solid #CDCDCD;
    height: 0px;
    margin-bottom: 17px;
    margin-top: -1px;
    width: 100%;
}

.round-box-foot-left {
	position:absolute;
	left:0%;
	top:100%;
	margin-top:-6px;
	height:6px;
	width:6px;
	background-image:url('../images/j_crn_bl_light.png');
	z-index:3;
}
.round-box-foot-right {
	position:absolute;
	left:100%;
	top:100%;
	margin-left:-6px;
	margin-top:-6px;
	height:6px;
	width:6px;
	background-image:url('../images/j_crn_br_light.png');
	z-index:3;
}

/*Administrator tables*/
.adminlist {
	width:100%;
	color:#666666;
	border-spacing:1px;
	background-color:#e1e1e1;
}
.adminlist th {
	padding:4px;
	background-color:#F0F0F0;
	border-bottom:1px solid #999999;
	text-align:center;
}
.adminlist td {
	padding:4px;
	background-color:#FFF;
}
.adminlist td a {
	text-decoration:none;
	color:#0B55C4;
}

/*icons*/
.icon-32-excel			{ background-image: url(../images/Excel-icon.png); }
.icon-32-excel2			{ background-image: url(../images/Excel_Mac_32.png); }
.icon-32-send 			{ background-image: url(../images/email_icon32.png); }
.icon-32-delete 		{ background-image: url(../images/delete.png); }
.icon-32-help 			{ background-image: url(../images/toolbar/icon-32-help.png); }
.icon-32-cancel 		{ background-image: url(../images/toolbar/icon-32-cancel.png); }
.icon-32-config 		{ background-image: url(../images/toolbar/icon-32-config.png); }
.icon-32-apply 		{ background-image: url(../images/toolbar/icon-32-apply.png); }
.icon-32-back			{ background-image: url(../images/back.png); }
.icon-32-forward		{ background-image: url(../images/toolbar/icon-32-forward.png); }
.icon-32-save 			{ background-image: url(../images/save.png); }
.icon-32-edit 			{ background-image: url(../images/toolbar/icon-32-edit.png); }
.icon-32-copy 			{ background-image: url(../images/toolbar/icon-32-copy.png); }
.icon-32-move 			{ background-image: url(../images/toolbar/icon-32-move.png); }
.icon-32-new 			{ background-image: url(../images/new.png); }
.icon-32-upload 		{ background-image: url(../images/toolbar/icon-32-upload.png); }
.icon-32-assign 		{ background-image: url(../images/toolbar/icon-32-publish.png); }
.icon-32-html 			{ background-image: url(../images/toolbar/icon-32-html.png); }
.icon-32-css 			{ background-image: url(../images/toolbar/icon-32-css.png); }
.icon-32-menus 			{ background-image: url(../images/toolbar/icon-32-menu.png); }
.icon-32-publish 		{ background-image: url(../images/toolbar/icon-32-publish.png); }
.icon-32-unpublish 	{ background-image: url(../images/toolbar/icon-32-unpublish.png);}
.icon-32-restore		{ background-image: url(../images/toolbar/icon-32-revert.png); }
.icon-32-trash 		{ background-image: url(../images/toolbar/icon-32-trash.png); }
.icon-32-archive 		{ background-image: url(../images/toolbar/icon-32-archive.png); }
.icon-32-unarchive 	{ background-image: url(../images/toolbar/icon-32-unarchive.png); }
.icon-32-preview 		{ background-image: url(../images/toolbar/icon-32-preview.png); }
.icon-32-default 		{ background-image: url(../images/toolbar/icon-32-default.png); }

/*toolbar*/
div.toolbar { float: right; text-align: right; padding: 0; margin-right:3px; }
div.toolbar span { float: none; width: 32px; height: 32px; margin: 0 auto; display: bigblock; }
div.toolbar a {
   display: bigblock; float: left;
	white-space: nowrap;
	border: 1px solid #fbfbfb;
	padding: 1px 5px;
	cursor: pointer;
	text-align:center;
	text-decoration:none;
	color:#0b55c4;
}
div.toolbar a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	color: #0B55C4;
}

/*Sub Menus*/
#submenu {
list-style:none outside none;
margin:0;
padding:0;
}
#submenu li {
float:left;
margin:0;
padding:0;
}
#submenu li a, #submenu span.nolink {
border-right:1px solid #CCCCCC;
color:#0B55C4;
cursor:pointer;
font-weight:bold;
height:12px;
line-height:12px;
padding:0 15px;
text-decoration:none;
outline:none;
}
#submenu span.nolink {
color:#999999;
}
#submenu a.active, #submenu span.nolink.active {
color:#000000;
text-decoration:underline;
}


.topLeft { 
	position:absolute; 
	height:10px; width:10px; 
	left:-1px; 
	top:-1px; 
	background-image:url('../images/curves/top-left.jpg'); 
}
.topRight { 
	position:absolute; 
	height:10px; 
	width:10px; 
	left:100%; 
	top:-1px; 
	margin-left:-9px; 
	background-image:url('../images/curves/top-right.jpg'); 
}
.bottomLeft { 
	position:absolute; 
	height:10px; 
	width:10px; 
	left:-1px; 
	top:100%; 
	margin-top:-9px; 
	background-image:url('../images/curves/bot-left.jpg'); 
}
.bottomRight { 
	position:absolute; 
	height:10px; 
	width:10px; 
	left:100%; 
	top:100%; 
	margin-left:-9px; 
	margin-top:-9px; 
	background-image:url('../images/curves/bot-right.jpg'); 
}

/*Rounded Boxes -- White*/
.topLeftW { 
	position:absolute; 
	height:10px; width:10px; 
	left:-1px; 
	top:-1px; 
	background-image:url('../images/curves/top-left-w.jpg'); 
}
.topRightW { 
	position:absolute; 
	height:10px; 
	width:10px; 
	left:100%; 
	top:-1px; 
	margin-left:-9px; 
	background-image:url('../images/curves/top-right-w.jpg'); 
}
.bottomLeftW { 
	position:absolute; 
	height:10px; 
	width:10px; 
	left:-1px; 
	top:100%; 
	margin-top:-9px; 
	background-image:url('../images/curves/bot-left-w.jpg'); 
}
.bottomRightW { 
	position:absolute; 
	height:10px; 
	width:10px; 
	left:100%; 
	top:100%; 
	margin-left:-9px; 
	margin-top:-9px; 
	background-image:url('../images/curves/bot-right-w.jpg'); 
}

.clear {
	height:0px; 
	overflow:hidden; 
	clear:both;
}



.bigblockHead {
	padding:5px;
	background-color:#6799cc;
	font-weight:bold;
	font-size:13px;
	color:#FFF;
}
.bigblockWrapper {
	border:1px solid #e0e0e0; 
	position:relative; 
	z-index:4;
}
.bigblockBG {
	position:absolute; 
	left:0px; 
	height:100%; 
	background-color:#f6f6f6; 
	width:170px; 
	z-index:-1;
}
.bigblockDesc {
	float:left;
	width:150px;
	padding:10px;
	font-weight:bold;
	text-align:right;
	color:#555555;
	white-space:nowrap;
	/*border:0px solid #f0f0f0;
	background-color:#f6f6f6;
	border:1px solid #f0f0f0;*/
	border-top:1px solid #e0e0e0;
	margin-top:-1px;
	z-index:4;
	
}
.bigblockContent {
	float:left;
	padding:10px;
	/*padding-left:20px;*/
	border-left:1px solid #e0e0e0;
	/*border-right:1px solid #f0f0f0;
	border-bottom:1px solid #f0f0f0;
	border-top:1px solid #f0f0f0;*/
	white-space:nowrap;
	margin-top:-1px;
	width:270px;
}


/*Ordering Buttons*/
.upButton {
	height:16px;
	width:16px;
	background-image:url(../images/uparrow.png);
	display:bigblock;
	float:left; 
	margin-left:5px;
	overflow:hidden;
}
.downButton {
	height:16px;
	width:16px;
	background-image:url(../images/downarrow.png);
	display:bigblock;
	float:right; 
	margin-right:5px;
	overflow:hidden;
}

/*Form styles*/
input:focus, select:focus, textarea:focus {
	background-color:#FFFFDD;
}
input, select {
	border:1px solid silver;
	font-size:10px;
}
.text_area {
	font-size:10px;
}

/*Tabs script styles*/
.tabsHolder {
	border:0px solid #CCC;
}
.tabsHolder .tabs a {
	padding-top:3px;
	padding-bottom:3px;
	padding-left:10px;
	padding-right:10px;
	background-color:#f0f0f0;
	text-decoration:none;
	font-size:11px;
	font-weight:bold;
	margin:0px;
	display:bigblock;
	float:left;
	color:#808080;
	margin-right:5px;
	outline:none;
	z-index:10;
}


.tabsHolder .tabs a:hover { 
	color:#000;
}

.tabsHolder .tabs a.selected {
	background-color:#FFF;
	margin:0px;
	border-top:1px solid #d8d8d8;
	border-left:1px solid #d8d8d8;
	border-right:1px solid #d8d8d8;
	padding-left:9px;
	padding-right:9px;
	padding-top:2px;
	padding-bottom:4px;
	margin-right:5px;
	color:#545454;
	z-index:10;
}

.tabsHolder .main {
	border:0px solid #d8d8d8;
	padding:0px;
	margin-top:-1px;
	display:none;
}

.tabsHolder .main.selected {
	border:0px solid #d8d8d8;
	padding:0px;
	margin-top:-1px;
	display:bigblock;
}
/*Stat Box CSS*/
.statBox {
	height:200px;
	width:450px;
	/*border:1px solid #000;*/
	display:bigblock;
	position:relative;
}
.statBoxNameActive {
	width:150px;
	padding:5px;
	padding-left:2px;
	background-color:#0b55c4;
	display:bigblock;
	color:#fff;
	font-weight:bold;
}
.statBoxName {
	width:150px;
	padding:5px;
	padding-left:2px;
	display:bigblock;
	color:#0b55c4;
	font-weight:bold;
	border-bottom:1px solid #ccc;
}
.statPictureBox {
	position:absolute;
	left:155px;
	top:0px;
	height:180px;
	width:260px;
	overflow:hidden;
	border:2px solid #0b55c4;
}

.odd {
	background: #ccc;
	padding-left: 2px;
}

.even {
	background: #fff;
	padding-left: 2px;
}

.even td, .odd td {
    padding: 5px;
}

.searchOdd {
	background: #ccc;
	padding: 2px;
}

.searchEven {
	background: #eee;
	padding: 2px;
}

.searchAgain {
	margin-top: 5px;
	width: 175px;
}

.oddPad {
	background: #ddd;
	padding-left: 2px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.evenPad {
	background: #eee;
	padding-left: 2px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.heading, .domainHeading {
    background: none repeat scroll 0 0 #6797BB;
    color: #FFFFFF;
    font-weight: bold;
    padding: 6px;
}

.actionHeading{
	background: none repeat scroll 0 0 #3A6381;
    color: #FFFFFF;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    width:120px;
}

.actionCell
{
	align: center;
	text-align: center;
	background: none;
	}

.headingEdit{

	background: #6797bb;
	color: #fff;
	font-weigth: bold;
	padding: 3px;
	align: center;	
}

.pageNav {
	float: right;
	
}

.projInfo {
	font-weight: bold;	
}

.zoneInfo {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	width: 100%;	
}

.snip {
	font-weight: bold;	
}

.snippetRender {
	padding: 2px;
	width: 100%;
	border: 1px solid grey;	
}

.snippetRenderTick {
	padding-top: 10px;
	padding-bottom: 10px;	
}

.promoText {
	width: 468px;
	height: auto;
	background-color: #f5efdd;
	text-align: left;
	border-top-width: 1px;
	border-right-width-value: 1px;
	border-right-width-ltr-source: physical;
	border-right-width-rtl-source: physical;
	border-bottom-width: 1px;
	border-left-width-value: 1px;
	border-left-width-ltr-source: physical;
	border-left-width-rtl-source: physical;
	border-top-style: solid;
	border-right-style-value: solid;
	border-bottom-style: solid;
	border-left-style-value: solid;
	border-left-style-ltr-source: physical;
	border-left-style-rtl-source: physical;
	border-right-style-ltr-source: physical;
	border-right-style-rtl-source: physical;
	border-top-color: #000000;
	border-right-color-value: #000000;
	border-bottom-color: #000000;
	border-left-color-value: #000000;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 15px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;	
}

.generalText {
	border: 1px solid grey;
	padding: 5px;	
}

.transparency {
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  /* IE 5-7 */
  filter: alpha(opacity=80);

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
  opacity: 0.8;
 
	background-color:#ccc; 
	position:absolute; 
	top:30px; 
	left:220px; 
	width: 400px;
	height: 400px;
	z-index: 500;
}

.snipEdit {
	
	position: relative;
	left: 20px;
	top: 10px;
	height: 360px;
	width: 360px;
	background: #fff;
	border: 1px solid black;
	padding: 3px;
}

.snipHeading {
	
}

.snipWindowClose {
	float: right;	
	height: 20px;
}  

p.bigMargins
{
	margin-top:30px;
}

#languagesDiv
{
	display:none;	
	
}

.roundBoxLeft
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	background-color: #FBFBFB;
	border: 1px solid #CDCDCD;
	float: left;
	padding: 5px;
	width:48%;
	
}

.roundBoxRight
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	background-color: #FBFBFB;
	border: 1px solid #CDCDCD;
	float: right;
	padding: 5px;
	width: 48%;
	
}

.sectionTitle
{
	float: left;
	margin-top: 24px;
	padding-left:5px;
		
}

.actionIcons
{
	float: right;	
}